@model Final_Project.Models.CalculatorVM
@{ ViewBag.Title = "Addition and Subtraction";
                var lastResults = (List<Final_Project.Models.ResultVM>)ViewBag.LastResult; }
<h3 class="text-info text-center text-capitalize">Calculator</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
@Html.ValidationSummary()

                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(x => x.FirstNumber, "First Number:", new { @class = "control-label col-sm-4" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.FirstNumber, new { @class = "form-control", placeholder = "Enter the first number" })
                                        @Html.ValidationMessageFor(m => m.FirstNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(x => x.SecondNumber, "Second Number:", new { @class = "control-label col-sm-4" })
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(m => m.SecondNumber, new { @class = "form-control", placeholder = "Enter the second number" })
                                                        @Html.ValidationMessageFor(m => m.SecondNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-offset-4 col-sm-8">
                                                                        <button type="submit" name="CommandText" value="add" class="btn btn-sm btn-success">Add</button>
                                                                        <button type="submit" name="CommandText" value="sub" class="btn btn-sm btn-danger">Sub</button>
                                                                        <button type="submit" name="CommandText" value="mul" class="btn btn-sm btn-info">Mul</button>
                                                                        <button type="submit" name="CommandText" value="div" class="btn btn-sm btn-warning">Div</button>
                                                                    </div>
                                                                </div>}
    </div>
    <div class="col-md-6">
        @if (@ViewBag.Result != null)
        {
<h3 class="text-success">Result is : @ViewBag.Result</h3>}
        <hr />
        @if (lastResults != null && lastResults.Any())
        {
<h3 class="text-info">From Memory</h3>
                <ul>
                    @foreach (var r in lastResults)
                    {
    <li> <h6>@r.FirstNumber @r.CommandOperator @r.SecondNumber = @r.Result</h6></li>                }
                </ul> }
                            else
                            {
                <h5 class="text-info">Nothing in memory</h5>}
    </div>
</div>





@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}